---
component: footer
---
<div class="footer{{#if class}} {{class}}{{/if}}">
<a href="https://www.contrastsecurity.com" target="_blank"><img src="../../assets/presentation-images/ContrastIcon128px.png" width="24" height="24" data-toggle="tooltip" data-placement="top" title="Check out our website"></a>&nbsp; &nbsp;<a href="https://www.contrastsecurity.com" target="_blank"><span style="font-size: 12px">www.contrastsecurity.com</span></a> &nbsp; &#124; &nbsp; 888.371.1333 &nbsp; &#124; &nbsp; Copyright &copy 2013-2018 &nbsp; &#124; &nbsp; Licensed under <a href="https://www.creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"> <span style="color: #0DA1A9">Creative Commons</span></a>
</div>

