/* General */

* {
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-size: 14px;
}


/* Article Link Styling */

.article a:link, 
.article a:visited, 
.article a:active {
	color: #56B4AA;
	text-decoration: none;
	font-weight: 400;
}

.article a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: 400;
}


/* Nav Link Styling */

a:link, 
a:visited, 
a:active {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #56B4AA;
	text-decoration: none;
}


/* List Styling */

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 20px;
}


/* Header Styling */

h1 {
	font-size: 25px;
	font-weight: 700;
}


h2 {
	font-size: 20px;
	font-weight: 700;
}

h3 {
	font-size: 18px;

}

h4 {
	font-size: 16px;
}


/* Icons */

.fa {
	float: right;
	padding-top: 12px;
	padding-right: 20px;
	color: white;
}

/* Images */

.thumbnail {
	height: 40%;
	width: 40%;
}


/* Developer Labels*/

.label1cat {
	color: #95BE22;
	font-weight: 400;
	font-size: 30px;
}
.label1 {
	color: #95BE22;
	font-weight: 400;
	font-size: 20px;
	float: right;
	padding-top: 25px;
	padding-right: 10px;
}


/* Administrator Labels */

.label2cat {
	color: #3A97B5;
	font-weight: 400;
	font-size: 30px;
}

.label2 {
	color: #3A97B5;
	font-weight: 400;
	font-size: 20px;
	float: right;
	padding-top: 25px;
	padding-right: 45px;
}


/* User Labels */

.label3cat {
	color: #5C57B3; 
	font-weight: 400;
	font-size: 30px;
}

.label3 {
	color: #5C57B3; 
	font-weight: 400;
	font-size: 20px;
	float: right;
	padding-top: 25px;
	padding-right: 60px;
}

/* Release Notes Header */
.label7 {
	color: #CF2435; 
	font-weight: 400;
	font-size: 30px;
}

/* Contribute Header */
.label8 {
	color: #F6B220; 
	font-weight: 400;
	font-size: 30px;
}

/* Call To Action Green */
.label4 {
	color: #56B4AA; 
	font-weight: 400;
	font-size: 25px;
}


/* Sidebar Section Header Black */
.label5 {
	font-weight: 700;
	font-size: 16px;
}

/* Sidebar Section Sub Header */
.label10 {
	padding-left: 10px;
}

/* Sidebar Article Title Small */
.label9 {
	font-weight: 400;
	font-size: 12px;
	padding-left: 20px;
}


/* Breadcrumb Label */

.label6 {
	color: #000000;
	font-weight: 400;
	font-size: 20px;
}


/* Top Navigation */
	
.navbar-fixed-top {
	height: 74px;
}
	
.navbar-brand {
	height: 74px;
	left: 25px;
}

.navbar-nav, .navbar-right {
	height: 74px;
	padding: 10px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-form.navbar-right:last-child {
    margin-right: -15px;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #777;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #777;
}
.navbar-inverse .navbar-nav > li > a {
  color: #777;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #777;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #777;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}



/* Side Navigation */

#nav {
	position: fixed;
	height: 100%;
	top: 74px;
	left: 0;
	width: 216px;
	background-color: white;
	overflow: auto;

/* IE Fix */
	-ms-overflow-style: none;
}

.persona {
	padding-left: 20px;
	padding-top: 20px;
	float; left;
}

.scroll {
	margin-top: 50px;
	margin-left: 20px;
	height: 125%;
	background-color: white;
}

.navitems {
	overflow-y: auto;
	top: 0;
	bottom: 0;
	height: 125%;
}

.navitems2 {
	margin-top: 50px;
}

.button {
	color: white;
	margin-top: 35px;
	margin-left: 20px;
	width: 165px;
}

.btn {
	color: white !important;
}

.btn a:hover {
	color: #fff !important;
}

.latest {
	margin-top: 37px;
	margin-left: 20px;
	z-index: 5;
}


/* Breadcrumb */

.breadcontent{
	position: absolute;
	left: 206px;
	width: calc(100% - 206px);
	height: 550px;
	margin: 0 auto;
}

.breadcontainer{
	width: 100%;
	display: inline-block;
}

.breadcrumb {
	margin-top: 30px;
	float: right;
	display: inline-block;
}


/* Body and Content */

body {
  padding-top: 55px;
  padding-bottom: 30px;
  padding-right: 20px;
  height: 100%;
}

#wrapper {
	padding: 0 0 225px;
	position: relative;
	top: 25px;
}

.content {
	position: relative;
	top: 135px;
	margin-left: 206px;
	height: auto;
}

.container {
	position: relative;
	padding-left: 20px;
	margin-left: auto;
}

.container-content {
	position: relative;
	top: 115px;
	margin-left: 216px;
	height: auto;
	border: solid 1px;
	border-color: #C0C0C0;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

/* Cats */

.image {
	position: relative;
	float: left;
	text-align: center;
	padding-left: 20px;
	padding-bottom: 20px;

}

/* Articles */

a.anchor {
	display: block;
	position: relative;
    top: -150px;
 }

 .actions {
 	width: 100%;
	display: inline-block;
	padding-bottom: 10px;
 }

 .iconbar {
 	position: relative;
 	float: right;
 }

 .iconbar .fa {
 	color: #000;
 }

table, th, td {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	text-align: left;
	padding: 10px;
	font-size: 14px;
}

th {
	background-color: rgba(204,204,204,0.5);
}

/* Tweet Button */
.twitter-share-button {
	float: right;
	margin-top: 7px;
}



/* Footer */

#footer {
	position: absolute;
	margin: 0 auto;
	bottom: 0px;
	width: 100%;
	height: 30px; 
	text-align: center;
	font-size: 12px;
	padding-bottom: 10px;
}


/* Not Used */





















