/* General */

* {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

body {
	background-color: #e7e7e7;
}

/* Header Styling */

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	font-size: 25px;
}


h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
}


/* List Styling */

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 20px;
}


/* In Article Link Styling */

.article a:link, 
.article a:visited, 
.article a:active {
	color: #0DA1A9;
	text-decoration: none;
	font-weight: 400;
}

.article a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: 400;
}


/* TopNav and Home Page Link Styling */

a:link, 
a:visited, 
a:active {
	color: #0DA1A9;
	text-decoration: none;
	font-weight: inherit;
}

a:hover {
	color: #0DA1A9;
	text-decoration: none;
}


/* Icon Bar */

.iconbar .fa-bug,
.iconbar .fa-pencil {
	float: right;
	margin: 12px 15px 0 0;
}

/* Icons */

.fa,
.fi-wrench {
	color: #BABABA;
	float: right;
	margin-top: -30px;
	font-size: 24px;
}

.octicon-cloud-download,
.ion-clipboard {
	color: #BABABA;
	float: right;
	margin-top: -30px;
	font-size: 24px;
}


/* Images */

.thumbnail {
	height: 40%;
	width: 40%;
}

/* Home Page Tiles */

.label0 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #292929; 
	font-weight: 500;
	font-size: 20px;
	clear:all;
}

.label1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #BFBFBF;
	font-size: 12px;
}

.label2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #292929;
	font-weight: 500;
	font-size: 16px;
	clear: all;
}

.release-news {
    margin: 25px 0;
}

/**
 * Custom grid using flexbox
 */
.cs-row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 25px;
}
.cs-col,
.tile {
    -webkit-flex: 1 0;
	flex: 1 0;
}
.tile {
	background-color: #ffffff;
	border: solid 1px #dadada;
	border-radius: 5px;
	padding: 15px;
	max-width: 350px;
	min-height: 167px;
}
.tile p:nth-child(4) {
	color: #808080;
}
/* Media queries for different browser/screen sizes */
@media (min-width: 768px) {
	.tile {
		max-width: 225px;
	}
}
@media (min-width: 992px) {
	.tile {
		max-width: 300px;
	}
}
@media (min-width: 1200px) {
	.tile {
		max-width: 350px;
	}
}


.tile-content {
	max-width: 350px;
}

.help {
	margin-top: 20px;
	/*float: right;*/
	/*display: inline;*/
	font-size: 12px;
}

/* Side Nav Link Styling */

#nav a:link, 
#nav a:visited, 
#nav a:active {
	color: #ffffff;
	text-decoration: none;
	font-weight: inherit;
}

#nav a:hover {
	color: #0DA1A9;
	text-decoration: none;
}



/* Side Nav Level 1 Section Labels */

/*
.level2 {
	font-size: 16px;
}

label {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
}
*/






/* Sidebar Main Section Header White
.label5 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
}

/* Sidebar Section Sub Header
.label10 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin-left: -5px;
	text-transform: uppercase;
}

/* Sidebar Article Title Small
.label9 {
	font-weight: 400;
	font-size: 12px;
}

 */

/* Latest Articles 
.label4 {
	font-family: 'Roboto', sans-serif;
	color: #292929; 
	font-weight: 500;
	font-size: 25px;
}

.label1cat {
	color: #94B758;

}

.label2cat {
	color: #258CBF;
}

.label3 {
	font-family: 'Roboto', sans-serif;
	color: #292929; 
	font-weight: 500;
	font-size: 20px;
	float: right;
	padding-top: 25px;
	padding-right: 70px;
}

.label3cat {
	color: #0DA1A9;
}



/* Release Notes Headers 
.label7 {
	color: #E63025; 
}

/* Contribute Headers 
.label8 {
	color: #F7B600; 
}

*/


/* Breadcrumb Label 

.label6 {
	font-family: 'Roboto', sans-serif;
	font-size: 500;
	color: #000000;
	font-weight: 400;
	font-size: 20px;
}

*/


/* Top Navigation - MAIN */
	
.home.navbar .container-fluid {
	height: 200px;
	position: relative;
	background-image:url("images/BackgroundPattern.png");
}

.navbar-right > li {
	display: inline-block;
}

.nav > li > a {
	padding: 10px 5px;
}


.navbar-form {
	padding: 85px 0px 0px 85px;
}

.navbar-form .input-group .tt-hint {
	width: 400%;
}


.navbar>.container-fluid .navbar-brand {
	display: inline-block;
	position: relative;
	top: 45px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-left: 70px;
}

@media (max-width: 768px) {
	.navbar-fixed-top {
		height: auto;
	}	
}

.navbar-note p {
	color: #bababa;
	float:left;
	margin-left: 85px;
	font-size: 12px;
}

.navbar-note a {
	font-size: 12px;
}


/* Top Navigation 2 - ARTICLES */
	
.container-fluid2 {
	position: relative;
	top: 0;
}

.navbar-fixed-top2 {
	position: fixed;
	top: 0;
	left: 220px;
	width: 100%;
	background-color: #ffffff;
}

.navbar2 {
	height: 57px;
}

.navbar-brand2 img {
	margin-top: -25px;
	margin-bottom: 45px;
}

.navbar-right2 > li {
	display: inline-block;
}

.nav > li > a {
	padding: 10px 5px;
}


.navbar-form2 {
	padding: 10px 0px 0px 10px;
}

.navbar-form2 .input-group .tt-hint {
	width: 400%;
}


.navbar>.container-fluid .navbar-brand2 {
	display: inline-block;
	position: relative;
	top: 45px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-left: 70px;
}

@media (max-width: 768px) {
	.navbar-fixed-top2 {
		height: auto;
	}	
}





/* Side Navigation */

#nav {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	width: 220px;
	background-color: #292929;
	overflow: auto;

/* IE Hide Scrollbar Fix */
	-ms-overflow-style: none;
}

/*
.persona {
	padding-left: 20px;
	padding-top: 20px;
}
*/

.scroll {
	margin-top: 45px;
	margin-left: 15px;
	height: 150%;
	background-color: #292929;
}

.navitems {
	/*overflow-y: auto;*/
	top: 0;
	bottom: 0;
	height: 140%;
}


.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#292929 0,#292929 100%);
    background-image: -o-linear-gradient(top,#292929 0,#292929 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#292929),to(#292929));
    background-image: linear-gradient(to bottom,#292929 0,#292929 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#292929, endColorstr=#292929, GradientType=0);
    background-repeat: repeat-x;
    height: 20px;
}

.panel {
	border: none;
	box-shadow: none;
	background-color: #292929;
}

.panel-title {
	margin-left: -10px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

/* Buttons */

.btn-help {
	color: #ffffff !important;
	width: 175px;
	float: right;
	background-color: #0DA1A9;
	border-radius: 4px;
	text-decoration: none;
	padding: 8px 12px;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
}

/*
.btn-red {
	color: #ffffff !important;
	margin-top: 35px;
	margin-left: 20px;
	width: 165px;
	display: block; 
	background-color: #E63025; 
	border-radius: 4px;
	text-decoration: none;
	padding: 8px 12px;
	text-align: center;
	font-size: inherit;
	font-weight: 500;
}

.btn-yellow {
	color: #ffffff !important;
	margin-top: 10px;
	margin-left: 20px;
	width: 165px;
	display: block; 
	background-color: #F7B600; 
	border-radius: 4px;
	text-decoration: none;
	padding: 8px 12px;
	text-align: center;
	font-size: inherit;
	font-weight: 500;
}

.btn-position2 {
	margin-top: 35px;
}

*/

.disabled {
	opacity: 0.5;
}


.latest {
	margin-top: 37px;
	margin-left: 20px;
	z-index: 5;
}


/* Breadcrumb */


.breadcontainer{
	position: absolute;
	width: 100%;
	display: inline-block;
	margin-left: 20px;
}

.bread {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #808080;
}


/* Body and Content */

body {
  padding-top: 55px;
  padding-bottom: 30px;
  padding-right: 20px;
  height: 100%;
}

/* For default2 layout - homepage */

#wrapper2 {
	padding: 0 0 225px;
	position: relative;
	top: 25px;
}

.home.container {
    margin-top: 150px;
}

.container-content {
	position: relative;
	top: 25px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

/* Articles */

a.anchor {
	display: block;
	position: relative;
    top: -150px;
 }

 .actions {
 	width: 100%;
	display: inline-block;
	padding-bottom: 10px;
 }

 .iconbar {
 	position: relative;
 	float: right;
 }

 .iconbar .fa {
 	color: #000;
 }

table, th, td {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	text-align: left;
	padding: 10px;
	font-size: 14px;
}

th {
	background-color: rgba(204,204,204,0.75);
}

tr {
	background-color: #f9f9f9;
}

/* Tweet Button */

.twitter-share-button {
	float: right;
	margin-top: 7px;
}



/* Footer */

.footer {
	text-align: center;
	font-size: 12px;
	padding-bottom: 10px;
}


/* Search */

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
	width: 300px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
    z-index: 1000 !important;
    left: initial !important;
    right: 0;
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion p {
	margin: 0;
}

.result-group-image{
    background-repeat: no-repeat;
    background-size: 10%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 4px;
    left: 12px;
    pointer-events: none;
}
.result-group{
    min-height: 42px;
    position: relative;
    padding: 0;
}
.result-group-developer{
    background-image: url('../../assets/images/Developer_small.png');
}
.result-group-user{
    background-image: url('../../assets/images/User_small.png');
}
.result-group-admin{
    background-image: url('../../assets/images/Admin_small.png');
}
.result-group-contribute{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    top: 8px;
    left: 14px;
    background-color: #EB951A;
}
.result-group-release{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    top: 8px;
    left: 14px;
    background-color: #C2302C;
}
.result-group hr{
    margin: 15px 0 0 12px;
}
.result-group:last-child hr{
    display: none;
}

.result-article:hover{
    background-color: #E2F1F6;
}
.result-article{
    display: block;
    padding: 4px 0 4px 55px;
}
.result-title{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.result-breadcrumbs{
    display: block;
    font-size: 10px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-breadcrumbs .tt-highlight {
	font-size: inherit;
}

hr {
	border-top:1px solid #eee;
	padding-top: 5px;
}


/* -------------------------------- 

Accordion Menu

-------------------------------- */
.cd-accordion-menu {
  width: 95%;
  max-width: 220px;
  background: #292929;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 7px 7px 7px 7px;
  background: #292929;
  box-shadow: inset 0 -1px #555960;
  color: #ffffff;
}
.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
  background: #52565d;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after {
  background-image: url(../img/cd-icons.svg);
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label {
  background: #292929;
  box-shadow: inset 0 -1px #41444a;
  /*
  padding-left: 82px;
  */
}

.cd-accordion-menu ul a {
  background: #292929;
   box-shadow: inset 0 -1px #292929;
   line-height: 1;
  }

.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #292929;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 40px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.cd-accordion-menu ul ul li:last-of-type a {
	box-shadow: inset 0 -1px #41444a;
	padding-bottom: 15px;
}

.cd-accordion-menu ul ul label::before {
  left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}
@media only screen and (min-width: 600px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    /*
    padding: 24px 24px 24px 82px;
    */
    font-size: 14px;
  }
  .cd-accordion-menu label::before {
    left: 24px;
  }
  .cd-accordion-menu label::after {
    left: 53px;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding-left: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #3cc3b2;
  }
  .cd-accordion-menu ul label::before {
    left: 48px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
  	/*
    padding-left: 130px;
    */
  }
  .cd-accordion-menu ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 154px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.level1 {
	font-size: 16px !important;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
}

.level2-desc {
	color: #bababa;
	font-size: 12px;
	font-style: italic;
}

