{{> layout_top}}
<body class="banner">

    {{> navbar-fixed-top }}

    <div class="home container">
        <div>{{> body }}</div>
        {{> footer class="banner-footer"}}
    </div>


{{> layout_bottom}}

