{{> layout_top}}
<body class="page">
    <div class="article-page">
      <div class="left-sidenav">{{> 'navbarside'}}</div>
      {{> 'navbar2-fixed-top'}}
      {{> body}}
    </div>
{{> layout_bottom}}
