/* General */

* {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
}


/* Article Link Styling */

.article a:link, 
.article a:visited, 
.article a:active {
	color: #0DA1A9;
	text-decoration: none;
	font-weight: 400;
}

.article a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: 400;
}


/* Nav Link Styling */

a:link, 
a:visited, 
a:active {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #0DA1A9;
	text-decoration: none;
}


/* List Styling */

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 20px;
}


/* Header Styling */

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 25px;
}


h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
}


/* Icons */

.fa {
	color: white;
}


.iconbar .fa-bug,
.iconbar .fa-pencil {
	float: right;
	margin: 12px 15px 0 0;
}


/* Images */

.thumbnail {
	height: 40%;
	width: 40%;
}

/* Index Labels */

.label0 {
	font-family: 'Roboto', sans-serif;
	color: #292929; 
	font-weight: 500;
	font-size: 20px;
}


/* Latest Articles */
.label4 {
	font-family: 'Roboto', sans-serif;
	color: #292929; 
	font-weight: 500;
	font-size: 25px;
}


/* Developer */

.label1 {
	font-family: 'Roboto', sans-serif;
	color: #292929;
	font-weight: 500;
	font-size: 20px;
	float: right;
	padding-top: 25px;
	padding-right: 20px;
}

.label1cat {
	color: #94B758;

}

/* Administrator */

.label2 {
	font-family: 'Roboto', sans-serif;
	color: #292929;
	font-weight: 500;
	font-size: 20px;
	float: right;
	padding-top: 25px;
	padding-right: 55px;
}

.label2cat {
	color: #258CBF;
}


/* User */

.label3 {
	font-family: 'Roboto', sans-serif;
	color: #292929; 
	font-weight: 500;
	font-size: 20px;
	float: right;
	padding-top: 25px;
	padding-right: 70px;
}


.label3cat {
	color: #0DA1A9;
}


/* Release Notes Headers */
.label7 {
	color: #E63025; 
}

/* Contribute Headers */
.label8 {
	color: #F7B600; 
}


/* Sidebar Section Header Black */
.label5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

/* Sidebar Section Sub Header */
.label10 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin-left: -5px;
	text-transform: uppercase;
}

/* Sidebar Article Title Small */
.label9 {
	font-weight: 400;
	font-size: 12px;
}


/* Breadcrumb Label */

.label6 {
	font-family: 'Roboto', sans-serif;
	font-size: 500;
	color: #000000;
	font-weight: 400;
	font-size: 20px;
}


/* Top Navigation */
	
.navbar-fixed-top,
.navbar-header {
	height: 72px;
}

/*.navbar-fixed-top {
	overflow: hidden;
}*/

.navbar-header {
	position: relative;
}

.navbar-nav > li > a.icon-link {
	padding: 10px; 
}

.navbar>.container-fluid .navbar-brand {
	display: block;
	height: auto;
	padding: 0;
	float: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-left: 5px;
	width: 150px;
}

@media (max-width: 768px) {
	.navbar-fixed-top {
		height: auto;
	}
	.navbar-header {
		height: 71px;
	}

	.navbar-right > li,
	.navbar-right > li > a {
		display: inline-block;
	}

	.icon-link {
		margin-right: 15px;
		position: relative;
		top: -20px;
		left: 5px;
	}
	.navbar-toggle {
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
	.navbar>.container-fluid .navbar-brand {
		margin-left: 20px;
	}
}

.navbar-nav {
	padding: 10px;
}

/* Side Navigation */

#nav {
	position: fixed;
	height: 100%;
	top: 74px;
	left: 0;
	width: 220px;
	background-color: white;
	overflow: auto;

/* IE Hide Scrollbar Fix */
	-ms-overflow-style: none;
}

.persona {
	padding-left: 20px;
	padding-top: 20px;
}

.scroll {
	margin-top: 45px;
	margin-left: 20px;
	height: 150%;
	background-color: white;
}

.navitems {
	/*overflow-y: auto;*/
	top: 0;
	bottom: 0;
	height: 140%;
}


.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff, GradientType=0);
    background-repeat: repeat-x;
    height: 20px;
}

.panel {
	border: none;
	box-shadow: none;
	background-color: #ffffff;
}

.panel-title {
	margin-left: -10px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}


.btn-red {
	color: #ffffff !important;
	margin-top: 35px;
	margin-left: 20px;
	width: 165px;
	display: block; 
	background-color: #E63025; 
	border-radius: 4px;
	text-decoration: none;
	padding: 8px 12px;
	text-align: center;
	font-size: inherit;
	font-weight: 500;
}

.btn-yellow {
	color: #ffffff !important;
	margin-top: 10px;
	margin-left: 20px;
	width: 165px;
	display: block; 
	background-color: #F7B600; 
	border-radius: 4px;
	text-decoration: none;
	padding: 8px 12px;
	text-align: center;
	font-size: inherit;
	font-weight: 500;
}

.btn-position2 {
	margin-top: 35px;
}

.disabled {
	opacity: 0.5;
}


/*
.button {
	color: white;
	margin-top: 35px;
	margin-left: 20px;
	width: 165px;
}

.btn {
	color: white !important;
}

.btn a:hover {
	color: #fff !important;
}
*/

.latest {
	margin-top: 37px;
	margin-left: 20px;
	z-index: 5;
}


/* Breadcrumb */

.breadcontent{
	position: absolute;
	left: 206px;
	width: calc(100% - 206px);
	height: 550px;
	margin: 0 auto;
}

.breadcontainer{
	width: 100%;
	display: inline-block;
}

.breadcrumb {
	margin-top: 30px;
	float: right;
	display: inline-block;
}


/* Body and Content */

body {
  padding-top: 55px;
  padding-bottom: 30px;
  padding-right: 20px;
  height: 100%;
}

#wrapper {
	padding: 0 0 225px;
	position: relative;
	top: 25px;
}

.content {
	position: relative;
	top: 135px;
	margin-left: 206px;
	height: auto;
}

.container {
	position: relative;
	padding-left: 20px;
	padding-top:20px;
	margin-left: auto;
}

.container-content {
	position: relative;
	top: 115px;
	margin-left: 220px;
	height: auto;
	border: solid 1px;
	border-color: #C0C0C0;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

/* Cats */

.image {
	position: relative;
	float: left;
	text-align: center;
	padding-left: 30px;
	padding-bottom: 30px;

}

/* Articles */

a.anchor {
	display: block;
	position: relative;
    top: -150px;
 }

 .actions {
 	width: 100%;
	display: inline-block;
	padding-bottom: 10px;
 }

 .iconbar {
 	position: relative;
 	float: right;
 }

 .iconbar .fa {
 	color: #000;
 }

table, th, td {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	text-align: left;
	padding: 10px;
	font-size: 14px;
}

th {
	background-color: rgba(204,204,204,0.5);
}

/* Tweet Button */
.twitter-share-button {
	float: right;
	margin-top: 7px;
}



/* Footer */

#footer {
	position: absolute;
	text-align: center;
	font-size: 12px;
	padding-bottom: 10px;
	margin-right: -50%;
	margin-top: 50px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	bottom: 0;
	left: 50%;
}


/* Search */

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
	width: 300px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
    z-index: 1000 !important;
    left: initial !important;
    right: 0;
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion p {
	margin: 0;
}

.result-group-image{
    background-repeat: no-repeat;
    background-size: 10%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 4px;
    left: 12px;
    pointer-events: none;
}
.result-group{
    min-height: 42px;
    position: relative;
    padding: 0;
}
.result-group-developer{
    background-image: url('../../assets/images/Developer_small.png');
}
.result-group-user{
    background-image: url('../../assets/images/User_small.png');
}
.result-group-admin{
    background-image: url('../../assets/images/Admin_small.png');
}
.result-group-contribute{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    top: 8px;
    left: 14px;
    background-color: #EB951A;
}
.result-group-release{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    top: 8px;
    left: 14px;
    background-color: #C2302C;
}
.result-group hr{
    margin: 15px 0 0 12px;
}
.result-group:last-child hr{
    display: none;
}

.result-article:hover{
    background-color: #E2F1F6;
}
.result-article{
    display: block;
    padding: 4px 0 4px 55px;
}
.result-title{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.result-breadcrumbs{
    display: block;
    font-size: 10px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-breadcrumbs .tt-highlight {
	font-size: inherit;
}

hr {
	border-top:1px solid #eee;
	padding-top: 5px;
}






